<mat-toolbar>
  <ng-container *ngIf="project$ | async as projects">
    <mat-select (selectionChange)="editProject($event.value)" placeholder="Project">
      <ng-container *ngFor="let item of projects ">
        <mat-option [value]="item"> {{item?.name}}</mat-option>
      </ng-container>
    </mat-select>
  </ng-container>
  <button mat-button *ngIf="!project" (click)="addProject()">NEW</button>
</mat-toolbar>
<div *ngIf="project">
  <div>
    <mat-form-field>
      <input matInput [(ngModel)]="project.name" placeholder="Name">
    </mat-form-field>
    <mat-form-field>
      <input matInput [(ngModel)]="project.description" placeholder="Description">
    </mat-form-field>
  </div>
  <div>
    
    <!-- <form [formGroup]="form" (ngSubmit)="submit()">
      <formly-form [model]="project" [fields]="fields" [options]="options" [form]="form">
        <button type="submit" class="btn btn-primary submit-button" [disabled]="!form.valid">Submit</button>
      </formly-form>
    </form> -->
  </div>
  <div>
    <button mat-button (click)="project=null">CANCEL</button>
    <button mat-button (click)="deleteProject(project)">DELETE</button>
    <button mat-button (click)="saveProject(project)">UPDATE</button>
  </div>
  <div> {{model | json}}</div>
</div>